bucket       = "REPLACE_WITH_BOOTSTRAP_OUTPUT"
key          = "global/dns/terraform.tfstate"
region       = "ap-northeast-2"
encrypt      = true
use_lockfile = true

assume_role = {
  role_arn     = "REPLACE_WITH_BOOTSTRAP_OUTPUT"
  session_name = "TerraformStateGlobalDns"
}
